<div class="history">
  <h2 class="history_title">History</h2>
  <table class="history_log">
    <tr>
      <td class="history_log-item history_log-item_year">2017</td>
      <td class="history_log-item">宇部高専 卒業</td>
    </tr>
    <tr>
      <td class="history_log-item history_log-item_year">2019</td>
      <td class="history_log-item">九州工業大学 卒業</td>
    </tr>
    <tr>
      <td class="history_log-item history_log-item_year">2021</td>
      <td class="history_log-item">九工大大学院 卒業予定</td>
    </tr>
  </table>
</div>

<div class="favorite">
  <h2 class="favorite_title">Favorite</h2>
  <ul class="favorite_list">
    <li class="favorite_list-item">まんが</li>
    <li class="favorite_list-item">Youtube</li>
    <li class="favorite_list-item">ゲーム</li>
  </ul>
</div>